:focus {
    outline: 1px solid #808080;
    /*border: 1px solid #909090;*/
}

body { background: white; color: #000000; font-family: sans-serif;
  font-size: 100%; line-height: 1.1; margin: 0px;

  width: 100%}

.mainWidgetCommon {margin-left: auto; margin-right: auto;}
.myWidget {padding: 20px;}
#mainWidget { width: 600px; }
#mainResultWidget { width: 100%; }
@media only screen and (max-device-width:599px){ #mainWidget { width: 100%; } }
/* .larger { font-size: 1.45em; }
.bitLarger { font-size: 1.15em; }
.smaller{ font-size: 0.85em; }
.tiny{ font-size: 0.65em; }  */
.centeredImg { display: block; margin-left: auto; margin-right: auto; }
.largeTopMargin { margin-top: 20px; }
.hugeBottomMargin { margin-bottom: 100px; }
.smallTopMargin {margin-top: 5px; }
.myNumber { width: 150px; }
.hidden { display: none; }
.back {}
.help {}
.myTitle{
    font-size: 1.8em;
}

.mySpecialTitle{
    font-size: 1.8em;
    margin-left: 15px;
    margin-right: 15px;
}

.fieldPad{ padding-bottom: 20px; padding-left: 40px; padding-right: 40px;padding-top: 20px;}
.myfield{
    /*border: 1px solid black; */
    border-radius: 10px;
    -webkit-box-shadow: 1px 5px 5px #A0A0a0;
    box-shadow: 1px 5px 5px #A0A0a0;
    overflow: hidden;
}
.myfieldHeader {
    background: #555555;
    color: white;
    font-size: 1.45em;
    font-style: italic;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 10px;
}

.errorMsg{ color: #e50101;}
.answer{ background-color: #72dae7; font-size: 80px; height: 100px; margin-bottom: 10px; margin-left: auto; margin-right: auto; margin-top:10px; opacity:1.0; text-align: center;width: 80%;}
.answerBar{ background-color: #72dae7; font-size: 80px;height: 100%; left: 0px; position: absolute; text-align: center; top: 0px;}
.answerFrame{ background-color: white; border: 1px solid black; font-size: 40px; height: 100px; margin-bottom: 10px; margin-left: auto; margin-right: auto; margin-top:10px; opacity:1.0; position: relative; text-align: center;width: 80%;}
.answerNumber{ left: 20px;position: absolute; top: 20px;}
.answerPercent{position: absolute; right: 20px; top: 20px;}
/* .answer:hover { opacity:0.8;} */
.question {
  background-color: transparent !important;
  border: 1px solid;
  font-size: 1.2rem;
    margin: 5px;
}

.questionInaktiv {
    border-radius: 20px;
    -webkit-box-shadow: 1px 5px 5px #A0A0a0;
    box-shadow: 1px 5px 5px #A0A0a0;
    display: inline-block;
    height: 160px;
    margin: 5px 5px 10px 5px;
    min-width: 260px;
    overflow: hidden;
    padding: 10px;
    width: 260px;
}

.question:hover {
/*     -webkit-box-shadow: 1px 5px 5px #A0A0a0;
    box-shadow: 5px 10px 10px #808080; */
    cursor: pointer;
    outline: 2px solid;
}

.questionSelected {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    /*border: 1px solid black;*/
}

.innerContainer {
    padding: 1rem;
    max-width: 30ch;
    text-align: center;
}

.toolbar {
    display: inline-block;
}

.toolButton {
    height:24px;
    width:24px;
}

#toolbarAdmin {
    left: 20px;
    position: absolute;
    top: 20px;
}

.questionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.upvoteNumber {
  padding: 0.5em;
  text-align: center;
}

.upvoteNumber .ui-icon-star {
  display: none;
}

.upvotedContainter {
    left: 200px;
    position: absolute;
    top: 0px;
}

.answeredContainer {
    left: 220px;
    position: absolute;
    top: 0px;
}

.submittedContainer {
    left: 180px;
    position: absolute;
    top: 0px;
}

.smallerButtonText {
    font-size:0.75em;
}

.menublock{
    display: inline-block;
    margin: 5px 0px 0px 10px;
    text-align: left;
}

.noBottomMargin {
    margin-bottom: 0px;
}

.colorSelect {
    border: 1px solid black;
    display: inline-block;
    height: 16px;
    width: 16px;
}

#newQuestion {
    height: 2em;
    width: 200px;
}

#newQuestionText {
    width: 90%;
}

#newQuestionText {
    display: block;
    margin: 0 auto;
}

#newQuestionLengthDiv {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}

.menuTitleElement {
    margin-bottom: 3px;
}

.colorButtons {
    height: 30px;
    width: 30px;
}

.ui-button .ui-icon.colorButton0Icon {
    background-image: linear-gradient(#EBF09C, #EBF09C);
    border: solid #404040 1px;
    border-radius: 4px;
    height: 16px;
    width: 16px;
}
.ui-button .ui-icon.colorButton1Icon {
    background-image: linear-gradient(#99F0A1, #99F0A1);
    border: solid #404040 1px;
    border-radius: 4px;
    height: 16px;
    width: 16px;
}
.ui-button .ui-icon.colorButton2Icon {
    background-image: linear-gradient(#A1F0EC, #A1F0EC);
    border: solid #404040 1px;
    border-radius: 4px;
    height: 16px;
    width: 16px;
}
.ui-button .ui-icon.colorButton3Icon {
    background-image: linear-gradient(#869BD9, #869BD9);
    border: solid #404040 1px;
    border-radius: 4px;
    height: 16px;
    width: 16px;
}
.ui-button .ui-icon.colorButton4Icon {
    background-image: linear-gradient(#D6A5FA, #D6A5FA);
    border: solid #404040 1px;
    border-radius: 4px;
    height: 16px;
    width: 16px;
}

#feedbackLecturerContent {
    padding: 0px 10px 10px 10px;
}

#studentTools {
    background: #555555;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
}

#studentNew {
    /*-webkit-box-shadow: 1px 5px 5px #A0A0a0;
    box-shadow: 1px 5px 5px #A0A0a0;*/
    margin: 0px 10px 0px 10px;
    width: 7em;
}

#studentSortingSelect-button {
    margin: 0px 10px 0px 10px;
    /*-webkit-box-shadow: 1px 5px 5px #A0A0a0;
   box-shadow: 1px 5px 5px #A0A0a0;   */
    width: 9em;
}

#eventNoHeader {
    background: #555555;
    color: white;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

#insideAdminTools {
    padding: 0px 10px 10px 10px;
}

#controlgroup4Container{
    display:block;
    text-align: center;
}

#menu {
    margin-bottom: 10px;
    margin-top: 10px;
}

#footer {
    display: block;
    text-align: center;
}

#adminTools {
    text-align: center;
}

.mySubTitle {
    display: block;
    margin-top: 5px;
    /*font-weight: bold;*/
}

#aboutContent {
    line-height: 1.25;
}

#loadingMaskID {
  background: rgba(0,0,0,0.25);
  height: 100%;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9000;
}
.loadingMaskHidden {
  display: none;
  height: 0px;
  visibility:hidden;
  width: 0px;
}

.overlayLoadingImg {
   height:64px;
   left: 50%;
   margin-left: -32px;
   margin-top: -32px;
   position: absolute;
   top: 35%;
   width:64px;
}